//Colors
$yellow: #FEBD17;
$yellow-dark: #edab02;
$yellow-10a: #FEBD171A;
$yellow-30a: #FEBD172A;
$black: #000000;
$white: #ffffff;
$grey-dark: #373738;
$grey-mid: #484848;
$grey-light: #ACACAC;
$grey-light-10a: #ACACAC1A;
$counter-background: #E5E5E580;
$counter-buttons-bg: #e5e5e5;

//Fonts
$font-base: 'Roboto', sans-serif;

//Shadows
$box-shadow: 1px 1px 4px 0px #00000026;
